In [3]:
#no.1
A=int(input())
B= A % 2
if B==0:
    print('even')
else:
    print('odd')

 8

even

In [15]:
#no.2
def reverse_string(s):
    return s[::-1]
print(reverse_string(input()))

 hello

olleh

In [17]:
#no.3
X=str(input())
Y=type(X)
print(Y)

 5

<class 'str'>

In [18]:
#no.4
C=int(input())
F=(9*C/5)+32
print(F)

 56

132.8

In [1]:
#no.5
X=input()
Y=type(X)
print(Y)

 45

<class 'str'>

In [6]:
#no.6
def palindrome(s: str):
    s = s.replace(" ","").lower()
    return s == s[::-1]
print(palindrome(input()))

 racecar

True

In [8]:
#no.7
def reverse_me(s:str):
    return s[::-1]
print(reverse_me(input()))

 how are you

uoy era woh

In [32]:
#no.8
str_1=input()
str_2=input()
X=str_1,str_2
print(X)

 Hi
 I'm Musharrat

('Hi ', "I'm Musharrat")

In [18]:
#no.9
a=100
b=25
c=10.5 
print(type(a))
summation=a+b
print(summation)
print(type(c))
difference=summation-c
print(difference)
X=str(difference)
print(type(X))

<class 'int'>
125
<class 'float'>
114.5
<class 'str'>

In [21]:
#no.10
number=int(input())
if number>=1:
    print('It is positive')
elif number==0:
    print('It is zero')
else:
    print('It is negative')

 -23

It is negative

In [29]:
#no.11
def largest_number(a:float,b:float,c:float):
    return max(a,b,c)
num_1=float(input())
num_2=float(input())
num_3=float(input())
print('The largest no. is',largest_number(num_1,num_2,num_3))

 36
 74
 65

The largest no. is 74.0

In [30]:
#no.12
year=int(input())
X=year%4
if X == 0:
    print('It is a leap year')
else:
    print('It is not a leap year')

 2024

It is a leap year

In [31]:
#no.13
X=int(input())
if X >=90:
    print('A+')
elif X>=80:
    print('A')
elif X>=70:
    print('B')
elif X>=60:
    print('C')
else:
    print('Fail')

 89

A

In [40]:
#no.14
def check_character(a: str):
    a = a.lower()
    if a in 'aeiou':
        print("It is a vowel.")
    else:
        print("It is a consonant.")
check_character(input())

 B

It is a consonant.

In [2]:
#no.15
def greet_based_on_time(hour):
    if 5 <= hour < 12:
        print("Good Morning")
    elif 12 <= hour < 17:
        print("Good Afternoon")
    elif 17 <= hour < 21:
        print("Good Evening")
        
    elif 21 <= hour < 24 or 0 <= hour < 5:
        print("Good Night")
    else:
        print("Inappropriate time")
greet_based_on_time(int(input()))

 10

Good Morning

In [1]:
#no.16
def triangle_sides(a:float,b:float,c:float):
    if a==b==c:
        print("Equilateral triangle")
    elif a==b or b==c or c==a:
        print("Iscosceles triangle")
    else:
        print("Scalene triangle")
side_1=float(input())
side_2=float(input())
side_3=float(input())
triangle_sides(side_1,side_2,side_3)

 23
 14
 16

Scalene triangle

In [8]:
#no.17
a=int(input())
b=int(input())
c=int(input())
X_1=-b+(b**2-4*a*c)**0.5/2*a
X_2=-b-(b**2-4*a*c)**0.5/2*a
if X_1>=0 or X_1<=0:
    print(X_1)
elif X_2>=0 or X_2<=0:
    prin

 1
 2
 1

-2.0
-2.0

In [3]:
#no.18
X=int(input())
if X <=50:
    print('0-50')
elif X<=100:
    print('51-100')
elif X<=150:
    print('101-150')
else:
    print('above 150')

 67

51-100

In [2]:
#no.19
N = int(input()) 
sum = 0 
for i in range(1, N + 1): 
    sum =sum+i 
print(sum)

 56

1596

In [12]:
#no.20
N = int(input())  
i = 1  
factorial = 1 
while i <= N:
    factorial =factorial* i  
    i = i + 1  
print(factorial)

 3

6

In [14]:
#no.21
N=int(input())
for i in range(1,N):
    print(N,"X",i,"=",N*i)

 14

14 X 1 = 14
14 X 2 = 28
14 X 3 = 42
14 X 4 = 56
14 X 5 = 70
14 X 6 = 84
14 X 7 = 98
14 X 8 = 112
14 X 9 = 126
14 X 10 = 140
14 X 11 = 154
14 X 12 = 168
14 X 13 = 182

In [18]:
#no.22
N = int(input())
digit_count = 0
while N > 0:
    N = N // 10 
    digit_count=digit_count+ 1  
print(digit_count)

 7890675

7

In [2]:
#no.23
n=int(input())
a= 0
b=1
count=0
while count<=n:
    print(a,end='')
    nth=a+b
    a=b
    b=nth
    count=count+1
    print()

 7

0
1
1
2
3
5
8
13

In [33]:
#no.24
n=int(input())
sum=0
i=2
while i<=n:
    sum=sum+i
    i=i+2
    print('sum=',sum)

 6

sum= 2
sum= 6
sum= 12

In [38]:
#no.25
n=int(input())
for i in range(1, n + 1):
    for j in range(i):
        print('*', end='') 
    print()

 8

*
**
***
****
*****
******
*******
********

In [2]:
#no.26
N=int(input())
if N>=1: 
    for i in range (2,N):
        if (N % i)==0:
            print('not a prime number ')
        else:
            print('prime number ')

 5

prime number
prime number
prime number

In [3]:
#no.27
numbers = [10, 20, 30, 40, 50]
total_sum = 0
max_value = numbers[0]
min_value = numbers[0]
for num in numbers:
    total_sum =total_sum+ num
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num
    average = total_sum / len(numbers)
print("Sum:", total_sum)
print("Average:", average)
print("Maximum:", max_value)
print("Minimum:", min_value)

Sum: 150
Average: 30.0
Maximum: 50
Minimum: 10

In [4]:
#no.28
def reverse_s(s):
    return s[::-1]
reverse_s(input())

 hello

' olleh'

In [11]:
#no.29
for i in range(1, 11):
    print(i)
for m in range(1, 11):
    print(i, 'x', m,'=', i*m)
    print()

1
2
3
4
5
6
7
8
9
10
10 x 1 = 10

10 x 2 = 20

10 x 3 = 30

10 x 4 = 40

10 x 5 = 50

10 x 6 = 60

10 x 7 = 70

10 x 8 = 80

10 x 9 = 90

10 x 10 = 100

In [16]:
#no.30
n=int(input())
for i in range(1, n + 1):
    for j in range(i):
        print('*', end='') 
    print()

 5

*
**
***
****
*****

In [19]:
#no.31
def matrix_multiply(A, B):
   
    rows_A = len(A)
    cols_A = len(A[0])
    rows_B = len(B)
    cols_B = len(B[0])
    
    
    if cols_A != rows_B:
        raise ValueError("Cannot multiply matrices: incompatible dimensions.")
    
   
    result = [[0 for _ in range(cols_B)] for _ in range(rows_A)]
    
   
    for i in range(rows_A):
        for j in range(cols_B):
            for k in range(cols_A):  # or rows_B, since cols_A == rows_B
                result[i][j] += A[i][k] * B[k][j]
    
    return result


matrix_A = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

matrix_B = [
    [9, 8, 7],
    [6, 5, 4],
    [3, 2, 1]
]

try:
    result_matrix = matrix_multiply(matrix_A, matrix_B)
    print("Resultant Matrix:")
    for row in result_matrix:
        print(row)
except ValueError as e:
    print(e)

Resultant Matrix:
[30, 24, 18]
[84, 69, 54]
[138, 114, 90]

In [20]:
#no.32
    size = 8 
    for i in range(size):
        for j in range(size):
            
            if (i + j) % 2 == 0:
                print("X", end=" ")
            else:
                print("O", end=" ")
        print() 
print_chessboard()

X O X O X O X O
O X O X O X O X
X O X O X O X O
O X O X O X O X
X O X O X O X O
O X O X O X O X
X O X O X O X O
O X O X O X O X

In [21]:
#no.33
def print_number_pyramid():
    height = 5  
    for i in range(1, height + 1):
        print(str(i) * i)  
print_number_pyramid()

1
22
333
4444
55555

In [22]:
#no.34
def sum_of_list(numbers):
    total = 0
    for num in numbers:
        total += num
    return total
numbers = [1, 2, 3, 4, 5]
result = sum_of_list(numbers)
print(f"The sum of all elements in the list is: {result}")

The sum of all elements in the list is: 15

In [23]:
#no.35
def calculate_average(numbers):
    if not numbers:  
        return 0
    total = sum(numbers)
    count = len(numbers)
    return total / count

numbers = [10, 20, 30, 40, 50]
average = calculate_average(numbers)
print(f"The average of all elements in the list is: {average}")

The average of all elements in the list is: 30.0

In [24]:
#no.36
def find_max_min(numbers):
    if not numbers: 
        return None, None  
    max_val = max(numbers)
    min_val = min(numbers)
    return max_val, min_val
numbers = [10, 20, 30, 40, 50]
max_val, min_val = find_max_min(numbers)
print(f"The maximum value in the list is: {max_val}")
print(f"The minimum value in the list is: {min_val}")

The maximum value in the list is: 50
The minimum value in the list is: 10

In [25]:
#no.37
def sort_list(numbers):
    return sorted(numbers)
numbers = [34, 1, 23, 67, 2, 89, 21]
sorted_numbers = sort_list(numbers)
print(f"Original list: {numbers}")
print(f"Sorted list: {sorted_numbers}")

Original list: [34, 1, 23, 67, 2, 89, 21]
Sorted list: [1, 2, 21, 23, 34, 67, 89]

In [28]:
#no.38
def get_even_numbers(numbers):
    return [num for num in numbers if num % 2 == 0]
numbers = [10, 15, 20, 25, 30, 35, 40]
even_numbers = get_even_numbers(numbers)
print(f"Original list: {numbers}")
print(f"Even numbers: {even_numbers}")

Original list: [10, 15, 20, 25, 30, 35, 40]
Even numbers: [10, 20, 30, 40]

In [30]:
#no.39
def reverse_list(numbers):
    reversed_list = []
    for i in range(len(numbers)-1):
        reversed_list.append(numbers[i])
    return reversed_list
numbers = [10, 20, 30, 40, 50]
reversed_numbers = reverse_list(numbers)
print(f"Original list: {numbers}")
print(f"Reversed list: {reversed_numbers}")

Original list: [10, 20, 30, 40, 50]
Reversed list: [10, 20, 30, 40]

In [ ]:
#no.40
def common_elements_set(list1, list2):
    return list(set(list1) & set(list2))
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 60, 70, 80]
common_list = common_elements_set(list1, list2)
print(f"Common elements: {common_list}")

In [36]:
# no.41
def list(numbers, target):
    count = 0
    for num in numbers:
        if num == target:
            count += 1
    return count
numbers = [1, 2, 3, 4, 2, 2, 5]
target = 2
count =list(numbers, target)
print(f"The element {target} occurs {count} times in the list.")

The element 2 occurs 3 times in the list.

In [37]:
#no.42
def remove_duplicates(numbers):
    seen = set()
    result = []
    for num in numbers:
        if num not in seen:
            result.append(num)
            seen.add(num)
    return result
numbers = [1, 2, 2, 3, 4, 4, 5, 1]
unique_numbers = remove_duplicates(numbers)
print(f"Original list: {numbers}")
print(f"List after removing duplicates: {unique_numbers}")

Original list: [1, 2, 2, 3, 4, 4, 5, 1]
List after removing duplicates: [1, 2, 3, 4, 5]

In [38]:
#no.43
def square_elements(numbers):
    return [num ** 2 for num in numbers]
numbers = [1, 2, 3, 4, 5]
squared_numbers = square_elements(numbers)
print(f"Original list: {numbers}")
print(f"Squared list: {squared_numbers}")

Original list: [1, 2, 3, 4, 5]
Squared list: [1, 4, 9, 16, 25]

In [39]:
#no.44
def add_matrices(matrix1, matrix2):
   
    if len(matrix1) != len(matrix2) or len(matrix1[0]) != len(matrix2[0]):
        raise ValueError("Matrices must have the same dimensions.")
    result = [
        [matrix1[i][j] + matrix2[i][j] for j in range(len(matrix1[0]))]
        for i in range(len(matrix1))
    ]
    return result
matrix1 = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

matrix2 = [
    [9, 8, 7],
    [6, 5, 4],
    [3, 2, 1]
]
result_matrix = add_matrices(matrix1, matrix2)
print("Matrix 1:")
for row in matrix1:
    print(row)
print("\nMatrix 2:")
for row in matrix2:
    print(row)
print("\nResultant Matrix (Sum):")
for row in result_matrix:
    print(row)

Matrix 1:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

Matrix 2:
[9, 8, 7]
[6, 5, 4]
[3, 2, 1]

Resultant Matrix (Sum):
[10, 10, 10]
[10, 10, 10]
[10, 10, 10]

In [1]:
#no.45
def flatten_nested_list(nested_list):
    """
    Flattens a given nested list into a single-dimensional list.
    Args:
        nested_list (list): A nested list to flatten.
    Returns:
        list: A single-dimensional flattened list.
    """
    flattened_list = []
    def flatten(sublist):
        for item in sublist:
            if isinstance(item, list):
                flatten(item) 
            else:
                flattened_list.append(item) 
    flatten(nested_list)
    return flattened_list
nested_list = [1, [2, [3, 4], 5], [6, 7], 8]
flattened = flatten_nested_list(nested_list)
print("Flattened list:", flattened)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8]

In [3]:
#no.46
from collections import Counter

def flatten(nested_list):
    """Flatten a deeply nested list."""
    for item in nested_list:
        if isinstance(item, list):
            yield from flatten(item)
        else:
            yield item

def count_frequencies(nested_list):
    """
    Counts the frequency of each element in a nested list.
    """
    return Counter(flatten(nested_list))
nested_list = [1, [2, [3, 4, 2], 5], [6, 7, 2], 8, [1, [3, 3]]]
frequencies = count_frequencies(nested_list)
print( frequencies)

Counter({2: 3, 3: 3, 1: 2, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1})

In [4]:
#no.47
def transpose_matrix(matrix):
    """
    Transposes a given matrix represented as a nested list.

    Args:
        matrix (list of list of int/float): The input matrix.

    Returns:
        list of list of int/float: The transposed matrix.
    """
    return [[row[i] for row in matrix] for i in range(len(matrix[0]))]
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

transposed = transpose_matrix(matrix)
print("Original Matrix:")
for row in matrix:
    print(row)

print("\nTransposed Matrix:")
for row in transposed:
    print(row)

Original Matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

Transposed Matrix:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [5]:
#no.48
def concatenate_sublists(nested_list):
    """
    Concatenates all sublists in a nested list into a single flat list.

    Args:
        nested_list (list): A list of nested sublists.

    Returns:
        list: A single flat list with all elements from the sublists.
    """
    return [item for sublist in nested_list for item in sublist]
nested_list = [[1, 2, 3], [4, 5], [6], [7, 8, 9]]
concatenated_list = concatenate_sublists(nested_list)
print("Concatenated List:", concatenated_list)

Concatenated List: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
#no.49
def concatenate_tuples(tuple1, tuple2):
    """
    Concatenates two tuples and returns a new tuple.

    Args:
        tuple1 (tuple): The first tuple.
        tuple2 (tuple): The second tuple.

    Returns:
        tuple: A new tuple that is the concatenation of tuple1 and tuple2.
    """
    return tuple1 + tuple2
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = concatenate_tuples(tuple1, tuple2)
print("Concatenated Tuple:", concatenated_tuple)

Concatenated Tuple: (1, 2, 3, 4, 5, 6)

In [7]:
#no.50
coordinates= 13,16, 14
x,y,z= coordinates
print('X=',x)
print('Y=',y)
print('Z=',z)

X= 13
Y= 16
Z= 14

In [1]:
#no.51
tuple_of_integers = (5, 3, 8, 1, 2, 7)
sorted_tuple = tuple(sorted(tuple_of_integers))
print(sorted_tuple)

(1, 2, 3, 5, 7, 8)

In [2]:
#no.52
tuple_elements = (1, 2, 3, 2, 4, 2, 5, 3, 2)
element_to_count = 2
frequency = tuple_elements.count(element_to_count)
print(frequency)

4

In [4]:
#no.53
tuple= (1, 2, 3, 4, 5)
list = list(tuple)
print(list)

[1, 2, 3, 4, 5]

In [10]:
#no.54
tuple_example = (1, 2, 3, 4, 5)
reversed_tuple = ()
for i in range(len(tuple_example) - 1,-1,-1):
    reversed_tuple =reversed_tuple + (tuple_example[i],)
print(reversed_tuple)

(5, 4, 3, 2, 1)

In [8]:
#no.55
tuple_example = (10, 20, 30, 40, 50, 60, 70)
slice_of_tuple = tuple_example[3:6]  
print("Extracted slice:", slice_of_tuple)

Extracted slice: (40, 50, 60)

In [1]:
#no.56
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (5, 4, 3, 2, 1)
addition_result = []
subtraction_result = []
multiplication_result = []
for i in range(len(tuple1)):
    addition_result.append(tuple1[i] + tuple2[i])
    subtraction_result.append(tuple1[i] - tuple2[i])
    multiplication_result.append(tuple1[i] * tuple2[i])
addition_result = tuple(addition_result)
subtraction_result = tuple(subtraction_result)
multiplication_result = tuple(multiplication_result)
print(addition_result)
print(subtraction_result)
print(multiplication_result)

(6, 6, 6, 6, 6)
(-4, -2, 0, 2, 4)
(5, 8, 9, 8, 5)

In [2]:
#no.57
my_tuple = (1, 2, 3, 4, 5, 'apple', 'banana')
element = input("Enter an element to check if it exists in the tuple: ")
if element in my_tuple:
    print(element,'exists')
else:
    print(element,'does not exist.')

Enter an element to check if it exists in the tuple:  o

o does not exist.

In [3]:
#no.58
var1 = 10
var2 = 'Hello'
var3 = 3.14
packed_tuple = (var1, var2, var3)
print(packed_tuple)

(10, 'Hello', 3.14)

In [5]:
#no.59
nested_list = [[1, 2, 3], ['apple', 'banana', 'cherry'], [10.5, 20.6, 30.7]]
print("First element from the third sublist:", nested_list[2][0])
print("Second element from the first sublist:", nested_list[0][1])
print("Third element from the second sublist:", nested_list[1][2])

First element from the third sublist: 10.5
Second element from the first sublist: 2
Third element from the second sublist: cherry

In [6]:
#no.60
nested_list = [[1, 2, 3], ['apple', 'banana'], [10.5, 20.6], [7, 8]]
flattened_list = [item for sublist in nested_list for item in sublist]
print(flattened_list)

[1, 2, 3, 'apple', 'banana', 10.5, 20.6, 7, 8]

In [8]:
#no.61
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9], [10, 11]]
sorted_list = sorted(nested_list, key=len)
print(sorted_list)

[[4, 5], [10, 11], [1, 2, 3], [6, 7, 8, 9]]

In [9]:
#no.62
nested_list = [(1, 2), (3, 4), (5, 6), (7, 8)]
x_coordinates = [x for x, y in nested_list]
y_coordinates = [y for x, y in nested_list]
print("x-coordinates:", x_coordinates)
print("y-coordinates:", y_coordinates)

x-coordinates: [1, 3, 5, 7]
y-coordinates: [2, 4, 6, 8]

In [1]:
#no.63
def transpose_matrix(matrix):
    return [list(row) for row in zip(*matrix)]
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
transposed_matrix = transpose_matrix(matrix)
print("Original Matrix:")
for row in matrix:
    print(row)
print("\nTransposed Matrix:")
for row in transposed_matrix:
    print(row)

Original Matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

Transposed Matrix:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [2]:
#no.64
def flatten_list(nested_list):
    return [item for sublist in nested_list for item in sublist]
nested_list = [
    [1, 2, 3],
    [4, 5],
    [6, 7, 8, 9]
]
flattened_list = flatten_list(nested_list)
print("Flattened List:", flattened_list)

Flattened List: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
#no.65
def count_even_numbers(nested_list):
    count = 0
    for sublist in nested_list:
       
        for num in sublist:
            
            if num % 2 == 0:
                count += 1
    return count
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9, 10]]
result = count_even_numbers(nested_list)
print("Number of even numbers:", result)

Number of even numbers: 5

In [1]:
#no.66
def find_max_in_nested_list(nested_list):
    def flatten_list(lst):
        for item in lst:
            if isinstance(item, list):
                yield from flatten_list(item)
            else:
                yield item
    flat_list = list(flatten_list(nested_list))
    return max(flat_list)
nested_list = [[1, 2, [3, 4]], [5, [6, [7, 8]], 9], 10]
max_element = find_max_in_nested_list(nested_list)
print(max_element)

10

In [3]:
#no.67
def main_diagonal_sum(matrix):
    n = len(matrix)
    if not all(len(row) == n for row in matrix):
        raise ValueError("The input must be a square matrix.")
    diagonal_sum = sum(matrix[i][i] for i in range(n))
    return diagonal_sum
square_matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
result = main_diagonal_sum(square_matrix)
print(result)

15

In [4]:
#no.68
def search_nested_list(nested_list, target):
    for i in range(len(nested_list)):
        for j in range(len(nested_list[i])):
            if nested_list[i][j] == target:
                return i, j
    return None 
nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
target = 5
result = search_nested_list(nested_list, target)
if result:
    print(target,'found at',result)
else:
    print(target, 'not found')

5 found at (1, 1)

In [5]:
#no.69
def get_unique_elements(input_list):
    unique_set = set(input_list)
    return unique_set
input_list = [1, 2, 3, 4, 2, 3, 5, 1]
unique_elements = get_unique_elements(input_list)
print("Unique elements:", unique_elements)

Unique elements: {1, 2, 3, 4, 5}

In [1]:
#no.70
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
intersection = A.intersection(B)
print(intersection)

{4, 5}

In [2]:
#no.71
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
union = A.union(B)
print(union)

{1, 2, 3, 4, 5, 6, 7, 8}

In [3]:
#no.72
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
difference = A.difference(B)
print(difference)

{1, 2, 3}

In [4]:
#no.73
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
symmetric_difference = A.symmetric_difference(B)
print(symmetric_difference)

{1, 2, 3, 6, 7, 8}

In [6]:
#no.74
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7}
C = {6, 7, 8, 9}
intersection_AB = A.intersection(B)
union_BC = B.union(C)
difference_CA = C.difference(A)
print(intersection_AB)
print(union_BC)
print(difference_CA)

{4, 5}
{4, 5, 6, 7, 8, 9}
{8, 9, 6, 7}

In [7]:
#no.75
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}
subset = A.issubset(B)
print(subset)

True

In [8]:
#no.76
A = {1, 2, 3, 4, 5}
B = {2, 3}
superset = A.issuperset(B)
print(superset)

True

In [9]:
#no.77
input_set = set(map(int, input().split()))
elements = len(input_set)
print(elements)

 6 7 8 9

4

In [10]:
#no.78
given_set = {1, 2, 3, 4, 5}
element = int(input("Enter an element to check: "))
if element in given_set:
    print("Found")
else:
    print("Not Found")

Enter an element to check:  7

Not Found

In [12]:
#no.79
student_scores = {
    "X": 85,
    "Y": 92,
    "Z": 78,
}
num_pairs = len(student_scores)
print(num_pairs)

3

In [3]:
#no.80
items = {"Apple": 1.5,
         "Banana": 0.5,
         "Orange": 0.7}
price = float(input())
item = next((name for name, p in items.items() if p == price), "No item found")
print(item)

 0.7

Orange

In [6]:
#no.81
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
merge= {**dict1, **dict2}
print(merge)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [8]:
#no.82
items = {'apple': 5, 'banana': 3, 'orange': 8, 'grapes': 6}
item = input("Enter item to remove: ").lower()
if item in items:
    del items[item]
    print(f"Removed {item}")
else:
    print(f"{item} not found")
print(items)

Enter item to remove:  orange

Removed orange
{'apple': 5, 'banana': 3, 'grapes': 6}

In [9]:
#no.83
people = {
    'X': 30,
    'Y': 25,
    'Z': 35,
}
sorted_people = dict(sorted(people.items(), key=lambda item: item[1]))
print(sorted_people)

{'Y': 25, 'X': 30, 'Z': 35}

In [10]:
#no.84
input_string = input("Enter a string: ")
char_frequency = {}
for char in input_string:
    if char in char_frequency:
        char_frequency[char] += 1
    else:
        char_frequency[char] = 1
print("Character frequencies:", char_frequency)

Enter a string:  x y z

Character frequencies: {'x': 1, ' ': 2, 'y': 1, 'z': 1}

In [11]:
#no.85
numbers = [1, 2, 3, 4, 5]
squared_dict = {num: num**2 for num in numbers}
print(squared_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [13]:
#no.86
my_dict = {'apple': 5, 'banana': 3, 'orange': 8, 'grapes': 6}
key = input().lower()  
if key in my_dict:
    print("Key Found")
else:
    print("Key Not Found")

 apple

Key Found

In [15]:
#no.87
student_details = {
    'student1': {'name': 'X', 'age': 20, 'address':'Khulna'},
    'student2': {'name': 'Y', 'age': 22, 'address': 'Dhaka'},
}
for student_id, details in student_details.items():
    name = details['name']
    age = details['age']
    address = details['address']
    print(f"Student ID: {student_id}")
    print(f"Name: {name}")
    print(f"Age: {age}")
    print(f"Address: {address}\n")

Student ID: student1
Name: X
Age: 20
Address: Khulna

Student ID: student2
Name: Y
Age: 22
Address: Dhaka

In [16]:
#no.88
nested_dict = {
    'student1': {'name': 'X', 'age': 20, 'address': 'Khulna'},
    'student2': {'name': 'Y', 'age': 22, 'address': 'Dhaka'},
}
total_pairs = 0
for key, value in nested_dict.items():
    total_pairs += len(value) 
print(total_pairs)

6

In [2]:
#no.89
employee_details = {
    'emp1': {'name': 'X', 'salary': 50000},
    'emp2': {'name': 'Y', 'salary': 55000},
}
employee_id = input("Enter the employee ID: ")
new_salary = float(input("Enter the new salary: "))
if employee_id in employee_details:
    employee_details[employee_id]['salary'] = new_salary
    print(f"Salary of {employee_details[employee_id]['name']} has been updated to {new_salary}")
else:
    print("Employee ID not found.")
print(employee_details)

Enter the employee ID:  emp2
Enter the new salary:  7000

Salary of Y has been updated to 7000.0
{'emp1': {'name': 'X', 'salary': 50000}, 'emp2': {'name': 'Y', 'salary': 7000.0}}

In [4]:
#no.90
products = {
    'product1': {'name': 'Apple', 'price': 3.5, 'quantity': 100},
    'product2': {'name': 'Banana', 'price': 1.2, 'quantity': 150},
}
sorted_products = dict(sorted(products.items(), key= lambda x: x[1]['price']))
print("Sorted products based on price (ascending):")
for product_id, details in sorted_products.items():
    print(f"{details['name']}: Price ={details['price']}, Quantity = {details['quantity']}")

Sorted products based on price (ascending):
Banana: Price =1.2, Quantity = 150
Apple: Price =3.5, Quantity = 100

In [4]:
#no.91
def key(nested_dictionary, key):
    for k, v in nested_dictionary.items():
        if k == key:
            print(f"Key Found: {v}")
            return
        elif isinstance(v, dict):
           key(v, key)
    else:
        print("Key Not Found")
nested_dictionary = {
    'a': {'b': {'c': 'd'}},
    'e': 'f'
}
key_to_search = input()
key(nested_dictionary, key_to_search)

 a

Key Found: {'b': {'c': 'd'}}

In [6]:
#no.92
def prime(number):
    if number <= 1: 
        print("Not a prime number")
        return

    for i in range(2, int(number**0.5) + 1): 
        if number % i == 0: 
            print("Not a prime number")
            return
    print("Prime number")
num = int(input("Enter a number: "))
prime(num)

Enter a number:  5

Prime number

In [7]:
#no.93
for num in range(1, 21): 
    if num % 2 != 0: 
        continue  
    print(num)

2
4
6
8
10
12
14
16
18
20

In [8]:
#no.94
while True:  # Loop until a valid password is entered
    password = input("Enter your password: ")

    # Check the criteria
    if len(password) < 8:
        print("Password must be at least 8 characters long.")
        continue
    if not any(char.islower() for char in password):
        print("Password must contain at least one lowercase letter.")
        continue
    if not any(char.isupper() for char in password):
        print("Password must contain at least one uppercase letter.")
        continue
    if not any(char.isdigit() for char in password):
        print("Password must contain at least one digit.")
        continue

    # If all criteria are met
    print("Password accepted.")
    break

Enter your password:  DSbhghffc687

Password accepted.

In [9]:
#no.95
for num in range(1, 51):
    if num % 3 != 0 and num % 5 != 0: 
        continue 
    print(num)

3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50

In [10]:
#no.96
total = 0  
number = 0 
while number >= 0: 
    number = float(input("Enter a positive number (or a negative number to stop): "))
    if number >= 0: 
        total=total+number
print(total)

Enter a positive number (or a negative number to stop):  8
Enter a positive number (or a negative number to stop):  9
Enter a positive number (or a negative number to stop):  -7

17.0

In [19]:
#no.97
def check_palindrome(word):
    if len(word) < 3:
        print("Word is too short to check.")
        return 
    if word == word[::-1]:
        print(f"'{word}' is a palindrome.")
    else:
        print(f"'{word}' is not a palindrome.")
word = input("Enter a word: ")
check_palindrome(word)

Enter a word:  yuio

'yuio' is not a palindrome.

In [20]:
#no.98
def find_first_odd(numbers):
    for num in numbers:
        if num % 2 != 0:
            print(f"The first odd number is: {num}")
            break
    else:
        print("No odd number found.")
numbers = [1,2,3,4,5]
find_first_odd(numbers)

The first odd number is: 1

In [22]:
# no.99
import random

def guess_number():
    number_to_guess = random.randint(1, 100)  
    print("I have selected a number between 1 and 100. Try to guess it!")

    while True:
        try:
            guess = int(input("Enter your guess: ")) 
        except ValueError:
            print("Please enter a valid number.")
            continue 
        if guess < number_to_guess:
            print("Too low! Try again.")
            continue 
        elif guess > number_to_guess:
            print("Too high! Try again.")
            continue
        else:
            print("You've guessed the number")
            break 
guess_number()

I have selected a number between 1 and 100. Try to guess it!

Enter your guess:  10

Too low! Try again.

Enter your guess:  20

Too high! Try again.

Enter your guess:  30

Too high! Try again.

Enter your guess:  15

Too low! Try again.

Enter your guess:  18

You've guessed the number

In [24]:
#no.100
def count_vowels(input_string):
    vowels = "aeiouAEIOU"  
    vowel_count = 0  
    for char in input_string:
        if char not in vowels:
            continue  
        vowel_count += 1 
    return vowel_count
input_string = input("Enter a string: ")
vowel_count = count_vowels(input_string)
print(f"The number of vowels in the string is: {vowel_count}")

Enter a string:  read

The number of vowels in the string is: 2

In [25]:
#no.101
def check_unique_characters(input_string):
    seen_characters = set() 

    for char in input_string:
        if char in seen_characters: 
            print("The string does not have all unique characters.")
            return 
        seen_characters.add(char)  
    print("The string has all unique characters.")
input_string = input("Enter a string: ")
check_unique_characters(input_string)

Enter a string:  ffhgfh

The string does not have all unique characters.

In [26]:
#no.102
def factorial(n):
    if n == 0:
        return 1 
    else:
        return n * factorial(n - 1)  

print("Factorial of 5:",factorial(5))

Factorial of 5: 120

In [27]:
#no.103
def is_palindrome(word):
    word = word.lower()
    if word == word[::-1]:
        return True
    else:
        return False
print(is_palindrome("racecar"))

True

In [1]:
#no.104
def even_or_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"
print(even_or_odd(int(input())))

 67

Odd

In [2]:
#no.105
def list_sum(numbers):
    total = 0 
    for num in numbers:
        total += num  
    return total
print(list_sum([1, 2, 3, 4, 5]))

15

In [3]:
#no.106
def gcd(a, b):
    while b:
        a, b = b, a % b  
    return a  
print(gcd(48, 18))

6

In [4]:
#no.107
def is_leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False
print(is_leap_year(2020))

True

In [6]:
#no.108
def math_operations(num1, num2, operation):
    
    def add():
        return num1 + num2
    
    def subtract():
        return num1 - num2
    
    def multiply():
        return num1 * num2
    
    def divide():
        if num2 != 0:
            return num1 / num2
        else:
            return "Error: Division by zero is not allowed."
    
    if operation == "add":
        return add()
    elif operation == "subtract":
        return subtract()
    elif operation == "multiply":
        return multiply()
    elif operation == "divide":
        return divide()
    else:
        return "Error: Invalid operation."
num1=int(input())
num2=int(input())
operations=input()
print(math_operations(num1,num2,operations))

 8
 9
 add

17

In [7]:
#no.109
def greeting_generator(name):
    def greeting_message():
        return f"Hello, {name}! How are you today?"
    def formal_greeting():
        return f"Good day, Mr./Ms. {name}. I hope you're doing well."
    def casual_greeting():
        return f"Hey {name}! What's up?"
    return greeting_message()
print(greeting_generator("X"))

Hello, X! How are you today?

In [8]:
#no.110
def temperature_converter(temp, scale):
    def celsius_to_fahrenheit():
        return (temp * 9/5) + 32
    def fahrenheit_to_celsius():
        return (temp - 32) * 5/9
    if scale == 'C':
        return celsius_to_fahrenheit() 
    elif scale == 'F':
        return fahrenheit_to_celsius() 
    else:
        return "Error: Invalid scale. Please use 'C' for Celsius or 'F' for Fahrenheit."
temp=int(input())
scale=input()
print(temperature_converter(temp, scale))

 6
 K

Error: Invalid scale. Please use 'C' for Celsius or 'F' for Fahrenheit.

In [9]:
#no.111
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
print(factorial(int(input())))

 5

120

In [12]:
#no.112
def fibonacci(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return Fibonacci(n - 1) + Fibonacci(n - 2)
print(fibonacci(int(input())))

 10

55

In [13]:
#no.113
def sum_of_digits(n):
    if n == 0:
        return 0
    else:
        return n % 10 + sum_of_digits(n // 10)
n=int(input())
print(sum_of_digits(n))

 69

15

In [14]:
#no.114
def binary_search(sorted_list, target):
    if len(sorted_list) == 0:
        return -1
    mid = len(sorted_list) // 2
    if sorted_list[mid] == target:
        return mid
    elif sorted_list[mid] > target:
        return binary_search(sorted_list[:mid], target)
    else:
        result = binary_search(sorted_list[mid + 1:], target)
        if result == -1:
            return -1
        else:
            return mid + 1 + result
sorted_list = [1, 3, 5, 7, 9, 11, 13, 15]
target = 7
print(binary_search(sorted_list, target))

3

In [15]:
#no.115
def power(base, exponent):
    if exponent == 0:
        return 1
    else:
        return base * power(base, exponent - 1)
base=int(input())
exponent=int(input())
print(power(base, exponent))

 4
 6

4096